<IfModule mod_rewrite.c>
    RewriteEngine On

    # If the request is not already under /public, redirect there.
    RewriteCond %{REQUEST_URI} !/public/
    RewriteRule ^(.*)$ /dogu/okulyonetimi_laravel/public/$1 [R=302,L]
</IfModule>
